//responsive layout
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 1024px, xl: 1260px);

//font
$font-family: "Jost", sans-serif;
$text-color: #191d24;

$container-width: 98%;

$body-bg-color: #2a303c;

$header-title-color: #d1d5da;
$header-bg-color: #191d24;

$input-bg-color: #d1d5da;

//link colors
$item-text-color: #191d24;
$item-bg-color: #374151;
$item-bg-hvr-color: #444e61;

$spiner-color: #c5c5c5;
